body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.summary {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.expense-list {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
  background: #f9f9f9;
  border-radius: 8px;
}

.delete-btn {
  background: red;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

.low-balance {
  color: red;
  font-weight: bold;
}

#alertBox {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
}

.chart-container {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}