body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.summary {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.expense-list {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
}

.low-balance {
  color: red;
  font-weight: bold;
}

#alertBox {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
}

.chart-container {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}